  /* *******************************************  GENERIC   ********************************************  */
  nav {
    position: fixed;
  }
  
  .desktop-hidden {
    visibility: visible;
  }
  
  /* *******************************************  MOBILE   ********************************************  */
  @media only screen and (max-width: 1023px) {
    nav {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      justify-items: center;

      margin-left: calc(-1 * var(--horMarginMob)) !important;
      width: 100%;
      height: 50px;
      
      background-color: black !important;
      border-bottom: var(--secondaryColor) 1px solid;
    }
    
    nav > :not(.mob-visible) {
      display: grid;
      /* visibility: hidden; */
    }
    
    nav > .menu-icon {
      grid-column: 5 / 6;
    }
    
    nav > .soc-med-nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      
      grid-template-rows: inherit;
      justify-items: inherit;
      align-items: inherit;

      width: inherit;
      height: inherit;
    }
    
    nav > ul {
      grid-column: 1 / 6;
      align-items: center;

      width: 100%;
      height: min-content;

      background-color: inherit;
      border-top: var(--secondaryColor) 1px solid;
    }

    nav > ul > li {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 2rem;
      width: inherit;

      border-bottom: var(--secondaryColor) 1px solid;
    }
   
    nav > ul > li > a{
      text-transform: capitalize;
      align-self: center;
    }


}
/* *******************************************  TABLET   ********************************************  */
@media only screen and (min-width: 601px) {
  nav > .soc-med-nav {
    grid-column: 1 / 2;
  }
  body {

  }
}

/* *******************************************  DESKTOP (Std.)   ********************************************  */
@media only screen and (min-width: 1024px) {
  body {

  }

  nav {
    visibility: visible;
    right: 2rem;
    width: 12.91%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    align-items: center;
    justify-items: right;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;  
    align-items: flex-end;
  }

  nav > ul {
    font-size: 2.25rem;
  }
  
  nav > .soc-med-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    justify-items: center;

  }
  
  nav :hover {
    transition-duration: 0.5s;
    transition-timing-function: linear;
    color: var(--tertiaryColor) !important;
  }
  
}
/* *******************************************  DESKTOP (4K)   ********************************************  */
@media only screen and (min-width: 1998px) {

}