/* This File is reserved for global styling */


/* *******************************************  GENERIC   ********************************************  */
:root {
  --primaryColor: #141414;
  --secondaryColor: #cecece;
  --tertiaryColor: #78c0ff;

  --horMarginMob: 1rem;
}

body {
  background-color: var(--primaryColor);
  color: var(--secondaryColor) !important;
  display: grid;

}

a {
  text-decoration: none !important;
  color: var(--secondaryColor);
}

ul, li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.app {
  display: flex !important;
  flex-direction: column;
}

/* *******************************************  MOBILE   ********************************************  */
@media only screen and (max-width: 600px) {
  body {
    margin: 0 var(--horMarginMob);
  }
}
/* *******************************************  TABLET   ********************************************  */
@media only screen and (min-width: 601px) {
  body {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* *******************************************  DESKTOP (Std.)   ********************************************  */
@media only screen and (min-width: 1024px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
/* *******************************************  DESKTOP (4K)   ********************************************  */
@media only screen and (min-width: 1998px) {
  body {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}