.hideMenu > ul {
  transform: scaleY(0);
  height: 0 !important;
}

.showMenu {
  transform: scaleY(1);
  height: auto;
}

@media (min-width: 768px) {
  .hideOnTablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hideDownToTablet {
    /*
      visibility: hidden;
      width: 0;
      height: 0;
      */
    display: none;
  }
}

.hideUpToTablet {
  display: none;
}

@media (min-width: 768px) {
  .hideUpToTablet {
    display: initial;
  }
}

.hideUpToDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .hideUpToDesktop {
    display: initial;
  }
}

.aboutContainer {
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .contentContainer {
    flex-direction: row;
    text-align: left;
  }
  .contentContainer :first-child {
    flex-basis: 40%;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1024 / 1121;
}

.imgContainer > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.imgContainer svg {
  fill: #141414;
}

.imgContainer svg > * {
  width: 100%;
}

@media (min-width: 768px) {
  .imgContainer {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .imgContainer {
    flex-basis: 50%;
  }
}

.quote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .quote {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .quote > span {
    position: relative;
  }
  .quote > span:before, .quote > span::after {
    content: url("../../assets/svg/quotation-mark.svg");
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .quote > span:before {
    transform: rotateZ(2.5deg);
    top: -40px;
    left: -60px;
  }
  .quote > span:after {
    transform: rotateZ(182.5deg);
    right: -60px;
    bottom: -10px;
  }
}

.aboutContent {
  font-size: 1.1rem;
}
