@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@300;400;600;700;900&display=swap");
.hideMenu > ul {
  transform: scaleY(0);
  height: 0 !important;
}

.showMenu {
  transform: scaleY(1);
  height: auto;
}

@media (min-width: 768px) {
  .hideOnTablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hideDownToTablet {
    /*
      visibility: hidden;
      width: 0;
      height: 0;
      */
    display: none;
  }
}

.hideUpToTablet {
  display: none;
}

@media (min-width: 768px) {
  .hideUpToTablet {
    display: initial;
  }
}

.hideUpToDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .hideUpToDesktop {
    display: initial;
  }
}

.sectionTitle {
  color: gainsboro;
  position: relative;
  font-size: 1.75rem;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .sectionTitle {
    font-size: 3rem;
    text-align: center;
  }
  .sectionTitle:before, .sectionTitle:after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #cecece;
    vertical-align: middle;
  }
  .sectionTitle:before {
    width: 10vw;
    margin-right: 1rem;
  }
  .sectionTitle:after {
    width: 10vw;
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .sectionTitle {
    grid-column: 1 / 3;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quantico", Helvetica, sans-serif;
}

main {
  max-width: 1998px;
  margin: auto;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(206, 206, 206, 0.25) #141414;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(206, 206, 206, 0.25);
  border-radius: 20px;
  border: 3px solid #141414;
}
