@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@300;400;600;700;900&display=swap");
.hideMenu > ul {
  transform: scaleY(0);
  height: 0 !important;
}

.showMenu {
  transform: scaleY(1);
  height: auto;
}

@media (min-width: 768px) {
  .hideOnTablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hideDownToTablet {
    /*
      visibility: hidden;
      width: 0;
      height: 0;
      */
    display: none;
  }
}

.hideUpToTablet {
  display: none;
}

@media (min-width: 768px) {
  .hideUpToTablet {
    display: initial;
  }
}

.hideUpToDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .hideUpToDesktop {
    display: initial;
  }
}

.sectionTitle {
  position: relative;
  border-top: 2px solid #cecece;
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 1024px) {
  .sectionTitle {
    grid-column: 1 / 3;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quantico", Helvetica, sans-serif;
}

main {
  max-width: 1998px;
  margin: auto;
}
