@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@300;400;600;700;900&display=swap");
.hideMenu > ul {
  transform: scaleY(0);
  height: 0 !important;
}

.showMenu {
  transform: scaleY(1);
  height: auto;
}

@media (min-width: 768px) {
  .hideOnTablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hideDownToTablet {
    /*
      visibility: hidden;
      width: 0;
      height: 0;
      */
    display: none;
  }
}

.hideUpToTablet {
  display: none;
}

@media (min-width: 768px) {
  .hideUpToTablet {
    display: initial;
  }
}

.hideUpToDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .hideUpToDesktop {
    display: initial;
  }
}

.sectionTitle {
  color: gainsboro;
  position: relative;
  font-size: 1.75rem;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .sectionTitle {
    font-size: 3rem;
    text-align: center;
  }
  .sectionTitle:before, .sectionTitle:after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #cecece;
    vertical-align: middle;
  }
  .sectionTitle:before {
    width: 10vw;
    margin-right: 1rem;
  }
  .sectionTitle:after {
    width: 10vw;
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .sectionTitle {
    grid-column: 1 / 3;
  }
}

.skillsContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 1024px) {
  .skillsContainer {
    flex-direction: row;
    height: 500px;
  }
}

.titleSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
  position: relative;
  padding-right: 1rem;
  justify-content: start;
  height: 500px;
}

@media (min-width: 1024px) {
  .titleSection {
    flex-basis: 50%;
    padding: 1rem;
  }
}

.skillDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  padding-right: 1rem;
  overflow-y: scroll;
}

@media (min-width: 1024px) {
  .skillDescription {
    flex-basis: 100%;
  }
}

.skillCardsContainer {
  display: grid;
  row-gap: 1em;
  position: relative;
  min-height: 500px;
}

@media (min-width: 1024px) {
  .skillCardsContainer {
    flex-basis: 50%;
    width: 100%;
  }
}

.skillCategoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
}

.skillCategoryCard > ul {
  flex-basis: 75%;
}

.skillCategoryCard > img {
  width: 100px;
  flex-basis: 25%;
}

@media (min-width: 1024px) {
  .skillCategoryCard {
    min-height: 175px;
    max-height: 300px;
    justify-content: space-evenly;
    border-radius: 10px;
    transition: box-shadow 0.5s, border 0.5s, border-radius 0.5s;
  }
  .skillCategoryCard > ul {
    flex-basis: auto;
  }
  .skillCategoryCard > img {
    flex-basis: auto;
  }
  .skillCategoryCard:hover {
    border: 1px solid rgba(206, 206, 206, 0.1);
  }
}

.activeSkillsCard:hover {
  border: 1px solid #78c0ff !important;
}

.skillCategoryBgImg {
  min-height: 50px;
  max-height: 100px;
  height: 25%;
  left: 0%;
  overflow: hidden;
}

.floatingSkillTitle {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
