// Colours
$color-primary: #cecece;
$color-secondary: #78c0ff;
// $color-tertiary: #9B0909;

$color-background: #141414;
$color-dark: #777;
$color-light: #F0F0F0;
$color-text: #333333;
$color-link: #337ab7;

// device breakpoints
$breakpoint-min: 420px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-hd: 1998px;

// Layout
$mob-horizontal-margin: 1rem;