@import 'config';
@import 'utilities';
@import 'socialMedia';

$nav-height: 50px;

.Navbar {
    position: fixed;
    z-index: 10;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    margin-left: -1 * $mob-horizontal-margin !important;
    width: 100%;
    height: $nav-height;
    background-color: black;
    border-bottom: var($color-primary) 1px solid;

    font-weight: 600;


    & > ul {
        grid-column: 1 / 6;
        align-items: center;
        width: 100%;
        height: min-content;
        background-color: inherit;
        border-top: $color-primary 1px solid;

        & > li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 2rem;
            width: inherit;
            border-bottom: $color-primary 1px solid;

            & > a {
                text-transform: capitalize;
                align-self: center;
            }
        }
    }


    
    @media (min-width: $breakpoint-desktop) {
        visibility: visible;
        right: 0;
        width: $nav-width-desktop;
        height: 100%;
        grid-template-rows: 15% 75% 10%;
        align-items: center;
        justify-items: right;
        background-color: $color-background;

        & > ul {
            display: flex;
            flex-direction: column;
            font-size: 1vw * 2;
            grid-row: 2/3;
            border-top: none;
            
            & > li {
                margin-bottom: 1vw * 2;
                border-bottom: none;
            }
        }

        & :hover {
            transition-duration: 0.5s;
            transition-timing-function: linear;
            color: $color-secondary !important;
        }
    }
}

.menuIcon {
    grid-column: 5 / 6;
}