.hideMenu {
    // border: none !important ;
    & > ul {
        transform: scaleY(0);
      height: 0 !important;
    }
}


.showMenu {
    transform: scaleY(1);
    height: auto;
}

// Dynamic Visibility
.hideOnTablet {
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
  
  .hideDownToTablet {
    @media (min-width: $breakpoint-desktop) {
      /*
      visibility: hidden;
      width: 0;
      height: 0;
      */
      display: none;
    }
  }
  
  .hideUpToTablet {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: initial;
    }
  }
  .hideUpToDesktop {
    display: none;
    @media (min-width: $breakpoint-desktop) {
      display: initial;
    }
  }

  .sectionTitle {
    $border-width: 2px;

    position: relative;
    // border-top: $border-width solid $color-primary;
    font-size: 1.75rem;
    padding: 2rem 0;
    
    @media (min-width: $breakpoint-tablet ) {
      font-size: 3rem;
      text-align: left;
      
          &:before,
          &:after
          {
            content:"";
            display: inline-block;
            height: 2px;
            background-color: $color-primary;
            vertical-align: middle;
      
          }
      
          &:before {
            width: 100px;
            margin-right: 1rem;
          }
          &:after {
            width: 200px;
            margin-left: 1rem;
          }
      
    };

    @media (min-width: $breakpoint-desktop ) {
        grid-column: 1 / 3;
    };
}