.hideMenu {
    // border: none !important ;
    & > ul {
        transform: scaleY(0);
      height: 0 !important;
    }
}


.showMenu {
    transform: scaleY(1);
    height: auto;
}

// Dynamic Visibility
.hideOnTablet {
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
  
  .hideDownToTablet {
    @media (min-width: $breakpoint-desktop) {
      /*
      visibility: hidden;
      width: 0;
      height: 0;
      */
      display: none;
    }
  }
  
  .hideUpToTablet {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: initial;
    }
  }
  .hideUpToDesktop {
    display: none;
    @media (min-width: $breakpoint-desktop) {
      display: initial;
    }
  }

  .sectionTitle {
    $border-width: 2px;

    position: relative;
    border-top: $border-width solid $color-primary;
    // border-bottom: $border-width solid $color-primary;
    padding: 2rem 0;
    text-align: center;

    @media (min-width: $breakpoint-desktop ) {
        grid-column: 1 / 3;
    };
}