@import 'config';
@import 'utilities';

html {
    scroll-behavior: smooth;
}
body {
    // cursor: none !important;
    font-family: $font-primary;
    // margin: auto;
}

main {
    max-width: 1998px;
    margin: auto;

}

a {
    &:hover {
        // cursor: none;
    }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(#cecece, 0.25) #141414;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(#cecece, 0.25);
  border-radius: 20px;
  border: 3px solid #141414;
}